<!-- Header -->
<% include ./header %>
<!-- Latest Sermon -->
<div class="latest" style="padding-top:100px">
	<div class="container" style="padding-top: 20px; padding-bottom:20px;">
		<div class="row">
			<div class="col-lg-12">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>หมายเหตุ!</strong> *ค่าใช้จ่ายที่ท่านจะได้รับทราบเป็นค่าใช้จ่ายโดยประมาณเท่านั้น
					ไม่สามารถใช้อ้างอิงในการใช้บริการจริงได้
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card ">
					<div class="card-header text-white bg-primary">
						<h4>คำนวณค่าป่วยการ</h4>
					</div>
					<div class="card-body border-primary">
						<div class="row">
							<div class="col-lg-6">

								<div class="row">
									<div class="col-lg-12">
										<div class="form-check form-check-inline" style="padding-left:20px;padding-right:20px;padding-bottom:10px;">
											<input class="form-check-input" type="radio" name="inlineRadioOptions" id="personOne" value="1" checked>
											<label class="form-check-label" for="personOne">จำนวนอนุญาโตตุลาการหนึ่งคน</label>
										</div>
										<div class="form-check form-check-inline" style="padding-left:20px;padding-right:20px;padding-bottom:10px;">
											<input class="form-check-input" type="radio" name="inlineRadioOptions" id="personMoreThanOne" value="3">
											<label class="form-check-label" for="personMoreThanOne">จำนวนอนุญาโตตุลาการมากกว่าหนึ่งคน</label>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<label for="exampleFormControlInput1">จำนวนทุนทรัพย์</label>
											<input class="form-control" id="feeCapital" placeholder="กรอกตัวเลข" value="">
										</div>
										<br>
										<div class="form-group">
											<button id="calculate" type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">คำนวนค่าป่วยการ</button>
										</div>
									</div>
								</div>

								<div class="row">

									<!-- The Modal -->
									<div class="modal" id="myModal">
										<div class="modal-dialog">
											<div class="modal-content">

												<!-- Modal Header -->
												<div class="modal-header">
													<h4 class="modal-title">ผลการคำนวณค่าป่วยการอนุญาโตตุลาการ</h4>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>

												<!-- Modal body -->
												<div class="modal-body" style="font-size:20px">
													<div class="row">
														<div class="col-5">ผู้เรียกร้องวางเงิน : </div>
														<div class="col-7"><span id="result1" style="color:blue"></span> บาท</div>
														<div class="col-5">ผู้คัดค้านวางเงิน : </div>
														<div class="col-7"><span id="result2" style="color:blue"></span> บาท</div>
													</div>
												</div>

												<!-- Modal footer -->
												<div class="modal-footer">
													<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6">
								<img id="zoom_13" src="./images/fees/tai3.png" style='height: 100%; width: 100%; object-fit: contain;'>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script src='./js/jquery.elevateZoom-3.0.8.min.js'></script>
<script>
	$(document).ready(function () {
		var amountPerson = 1
		$('#personOne').click(function () {
			//if ($('#havcapital').is(':checked')) { alert("havcapital checked"); }
			amountPerson = 1
		});

		$('#personMoreThanOne').click(function () {
			//if ($('#noncapital').is(':checked')) { alert("noncapital checked"); }
			amountPerson = 2
		});



		$("#feeCapital").keyup(function (e) {
			if ($("#feeCapital").val()) {
				var number = parseInt($("#feeCapital").val().replace(/[^0-9\.]+/g, "")).toLocaleString()


				var result = false;
				try {
					var charCode = (e.which) ? e.which : e.keyCode;
					if ((charCode >= 48 && charCode <= 57) || (charCode >= 96 && charCode <= 105)) {
						$("#feeCapital").val(number)
					} else if (charCode == 46 || charCode == 8) {
						return
					} else {
						alert("กรุณากรอก ทุนทรัพย์ เป็นตัวเลข")
						return
					}
				}
				catch (err) {

				}

			} else {
				$("#feeCapital").val("")
			}
		});


		$("#calculate").click(function (e) {


			e.preventDefault(); //stop submit
			var feeCapital = parseInt($("#feeCapital").val().replace(/[^0-9\.]+/g, ""));
			//Validate number
			if (!isInt(feeCapital)) {
				alert("กรุณากรอก -ทุนทรัพย์- เป็นตัวเลข")
				$("#feeCapital").focus()
				$("#feeCapital").select()
				$("#feeCapital").css("border-color", "red")
				$('#myModal').modal().hide();
				return
			}


			//var sendData = { amountPerson: amountPerson, feeCapital: feeCapital }
			var endpoint = window.location.protocol + "//" + window.location.hostname + "/arbitration/" + feeCapital + "/amountPerson/" + amountPerson

			//alert(endpoint)
			$.get(endpoint, function (result) {

				var feePriceResult = Math.floor((parseInt(result.feePrice) / 2))
				var feePrice1 = feePriceResult.toLocaleString() + ".00"
				$("#result1").text(feePrice1)
				$("#result2").text(feePrice1)
			})

		});
	});



	function isInt(value) {

		var er = /^-?[0-9]+$/;
		return er.test(value);
	}



	$("#zoom_05").elevateZoom({
		zoomType: "inner",
		cursor: "crosshair"
	});

	$("#zoom_13").elevateZoom({
		zoomWindowPosition: 11,
		zoomWindowWidth: 500,
		zoomWindowHeight: 150
	}); 
</script>


<!-- Footer -->
<% include ./footer %>