<!-- Header -->
<% include ./header %>

<!-- Latest Sermon -->
<div class="latest" style="padding-top:100px">
	<div class="container" style="padding-top: 20px; padding-bottom:20px;">
		<div class="row">
			<div class="col-lg-12">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>หมายเหตุ!</strong> *ค่าใช้จ่ายที่ท่านจะได้รับทราบเป็นค่าใช้จ่ายโดยประมาณเท่านั้น
					ไม่สามารถใช้อ้างอิงในการใช้บริการจริงได้
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header text-white bg-primary">
						<h4>คำนวณค่าธรรมเนียมศาล</h4>
					</div>
					<div class="card-body border-primary">
						<div class="row">
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-12">
										<label for="court_type">ประเภทศาล :</label>
										<select size="3" class="form-control" id="court_type" name="sellist2">
											<option value="provincialcourt" selected>คดีศาลจังหวัด</option>
											<option value="kwaengcourt">คดีศาลแขวง</option>
										</select>
									</div>
									<div class="col-lg-12">
										<label for="fees_type">ประเภทค่าขึ้นศาล :</label>
										<select size="7" class="form-control" id="fees_type" name="sellist2">
											<option value="havecapital" selected data-toggle="tooltip" data-placement="left" title="- คดีที่มีคำขอปลดเปลื้องทุกข์อันอาจคำนวณเป็นราคาเงินได้  เช่น คดีที่มีคำขอเรียกร้องเงินหรือทรัพย์สินซึ่งยังมิได้เป็นของตนจากผู้อื่นมาเป็นของตน  โดยจำนวนเงินหรือราคาทรัพย์ที่เรียกร้องนั้นถือเป็นทุนทรัพย์สำหรับค่าขึ้นศาลในคดีที่มีทุนทรัพย์โจทก์ต้องเสียอัตราร้อยละ 2.00 บาท ของจำนวนทุนทรัพย์ แต่ไม่เกิน 200,000 บาท">
												คำฟ้องมีทุนทรัพย์
											</option>
											<option value="havecapital_compensation" data-toggle="tooltip" data-placement="left" title="-คดีที่มีทุนทรัพย์ + ค่าขึ้นศาลในอนาคต (เกี่ยวกับค่าเช่า ดอกเบี้ย ค่าเสียหาย ) เช่นถ้าไม่ได้ขอดอกเบี้ยก่อนฟ้อง แต่ขอดอกเบี้ยนับแต่วันฟ้องจนถึงวันชำระเสร็จ ต้องเสียค่าขึ้นศาลอนาคตอีก 100 บาท">
												คำฟ้องมีทุนทรัพย์ และมีการขอให้ชำระค่าเสียหายพร้อมดอกเบี้ย</option>
											<option value="mortgage" data-toggle="tooltip" data-placement="left" title="- คำฟ้องขอให้บังคับจำนองหรือบังคับเอาทรัพย์สินจำนองหลุด">คำฟ้องขอให้บังคับจำนอง</option>
											<option value="noncapital" data-toggle="tooltip" data-placement="left" title="- คดีที่โจทก์มีคำขอปลดเปลื้องทุกข์อันไม่อาจคำนวณเป็นราคาเงินได้ เช่น ขอให้บังคับจำเลยให้กระทำการหรือละเว้นกระทำการอย่างใดอย่างหนึ่งเพื่อประโยชน์ของโจทก์  โดยโจทก์ไม่ได้อ้างหรือเรียกร้องเป็นจำนวนเงินหรือทรัพย์สินอย่างใดอย่างหนึ่งสำหรับค่าขึ้นศาลในคดีไม่มีทุนทรัพย์โจทก์ต้องเสียเรื่องละ 200 บาท">
												คดีไม่มีทุนทรัพย์และคำร้องฝ่ายเดียว</option>
											<option value="appeal_or_supreme" data-toggle="tooltip" data-placement="left" title="- อุทธรณ์หรือฎีกาคำสั่งตามมาตรา ๒๒๗ หรือ มาตรา ๒๒๘(๒) และ (๓) แห่ง
											ป.วิ.พ. เสียค่าขึ้นศาลเรื่องละ 200 บาท">
												อุทธรณ์หรือฎีกาคำสั่งตามมาตรา ๒๒๗ หรือ มาตรา ๒๒๘(๒) และ (๓) แห่ง
												ป.วิ.พ.</option>
											<option value="non_and_havecapital" data-toggle="tooltip" data-placement="left" title="- นคดีมีทุนทรัพย์กับไม่มีทุนทรัพย์รวมอยู่ในคดีเดียวกันให้คิดค่าขึ้นศาลในอัตราร้อยละ 2.50 บาท ของจำนวนทุนทรัพย์ที่เรียกร้องโดยเป็นเงินอย่างต่ำ  200 บาท แต่ไม่เกิน 200,000 บาท">คดีมีทุนทรัพย์ที่มีคำขออื่นด้วย</option>
											<option value="non_and_havecapital_compensation" data-toggle="tooltip" data-placement="left" title="-คดีมีทุนทรัพย์ที่มีคำขออื่นด้วย + ค่าขึ้นศาลในอนาคต (เกี่ยวกับค่าเช่า ดอกเบี้ย ค่าเสียหาย ) เช่นถ้าไม่ได้ขอดอกเบี้ยก่อนฟ้อง แต่ขอดอกเบี้ยนับแต่วันฟ้องจนถึงวันชำระเสร็จ ต้องเสียค่าขึ้นศาลอนาคตอีก 100 บาท">คดีมีทุนทรัพย์ที่มีคำขออื่นด้วย
												และมีการขอให้ชำระค่าเสียหายพร้อมดอกเบี้ย</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<label for="exampleFormControlInput1">
												จำนวนทุนทรัพย์ : <a href="#" data-toggle="tooltip" data-placement="right" title="จำนวนเงิน หรือราคาทรัพย์ที่เรียกร้องในคดี รวมทั้งจำนวนดอกเบี้ยที่เกิดขึ้น หรือสิ่งที่สามารถคำนวณเป็นราคาได้ เช่น ที่ดิน ค่าเช่า รถยนต์"><img
													 src="./images/qa.png"></a>
											</label>
											<input class="form-control" id="feeCapital" placeholder="กรอกตัวเลข" value="">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<button id="calculate" type="button" class="btn btn-success" class="btn btn-primary" data-toggle="modal"
											 data-target="#myModal">คำนวนค่าธรรมเนียม</button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<p><span style="color:red">หมายเหตุ</span> *ค่าใช้จ่ายที่ท่านจะได้รับทราบเป็นค่าใช้จ่ายโดยประมาณเท่านั้น
											ไม่สามารถใช้อ้างอิงในการใช้บริการจริงได้</p>
									</div>
								</div>

								<div class="row">

									<!-- The Modal -->
									<div class="modal" id="myModal">
										<div class="modal-dialog">
											<div class="modal-content">

												<!-- Modal Header -->
												<div class="modal-header">
													<h4 class="modal-title">ผลการคำนวณค่าขึ้นศาล</h4>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>

												<!-- Modal body -->
												<div class="modal-body" style="font-size:20px">
													<div class="row" id="content_fees">
														<div class="col-5">ค่าขึ้นศาล :</div>
														<div class="col-7"><span id="result1"></span> บาท</div>
														<div class="col-5">ค่าขึ้นศาลอนาคต : </div>
														<div class="col-7"><span id="result2"></span> บาท</div>
														<div class="col-5"><b>รวมเป็นจำนวนเงิน : </div>
														<div class="col-7"><span id="total" style="color:blue"></span> บาท</b></div>
													</div>
												</div>

												<!-- Modal footer -->
												<div class="modal-footer">
													<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
												</div>

											</div>
										</div>
									</div>




								</div>
							</div>


							<div class="col-lg-6">
								<a href="#" data-toggle="modal" data-target="#info">
									<img src="./images/fees/fees1.png" style='height: 100%; width: 100%; object-fit: contain;'>
								</a>

								<!-- Modal -->
								<div class="modal fade" id="info" role="dialog">
									<div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content custom-width-modal">

											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>
											<div class="modal-body">
												<div class="row">
													<div class="col-md-12">
														<img src="./images/fees/fees1.jpg">
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
								<!-- End Modal -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="./js/space_line.js"></script>
<script>
	$(document).ready(function () {


		$("#feeCapital").keyup(function (e) {
			if ($("#feeCapital").val()) {
				var number = parseInt($("#feeCapital").val().replace(/[^0-9\.]+/g, "")).toLocaleString()


				var result = false;
				try {
					var charCode = (e.which) ? e.which : e.keyCode;
					if ((charCode >= 48 && charCode <= 57) || (charCode >= 96 && charCode <= 105)) {
						$("#feeCapital").val(number)
					}else if(charCode == 46 || charCode == 8 ){
						return
					}else{
						alert("กรุณากรอก ทุนทรัพย์ เป็นตัวเลข")
						return
					}
				}
				catch (err) {
						
				}

			} else {
				$("#feeCapital").val("")
			}
		});


		$('[data-toggle="tooltip"]').tooltip();
		//Disable input  data
		$("#fees_type").change(function () {
			if ($(this).val() == "noncapital" || $(this).val() == "appeal_or_supreme" || $(this).val() == "compensation") {
				$("#feeCapital").val("0")
				$("#feeCapital").attr("disabled", true);
			} else {
				$("#feeCapital").attr("disabled", false);
			}
		});


		$('#calculate').click(function (e) {

			e.preventDefault(); //stop submit
			var courtType = $("#court_type option:selected").val()
			var feeCapital = parseInt($("#feeCapital").val().replace(/[^0-9\.]+/g, ""));
			var feeType = $("#fees_type option:selected").val()

			//alert(feeCapital)

			//Validate number
			if (!isInt(feeCapital)) {
				alert("กรุณากรอก -ทุนทรัพย์- เป็นตัวเลข")
				$("#feeCapital").focus()
				$("#feeCapital").select()
				$("#feeCapital").css("border-color", "red")
				$('#myModal').modal().hide();
				return
			}


			if (courtType == "kwaengcourt" && feeCapital > 300000) {
				alert("คดีทุนทรัพย์มากกว่า 300,000 บาท ไม่สามารถฟ้องในศาลแขวงได้\nกรุณาเลือกประเภทศาล : คดีศาลจังหวัด")
				$("#feeCapital").focus()
				$("#feeCapital").select()
				$("#feeCapital").css("border-color", "red")
				$("#court_type").css("border-color", "red")
				$('#myModal').modal().hide();
				return
			} else {
				$("#feeCapital").css("border-color", "#ced4da")
				$("#court_type").css("border-color", "#ced4da")
			}



			//alert(feeType)
			if (feeType == "havecapital_compensation") {
				callInterestAPI(courtType, "havecapital", feeCapital, 100.00)
				// $("#result2").html("100.00")

			} else if (feeType == "non_and_havecapital_compensation") {
				callInterestAPI(courtType, "non_and_havecapital", feeCapital, 100.00)
				// $("#result2").html("100.00")
			} else {
				callAPI(courtType, feeType, feeCapital, 0.00)
				$("#result2").html("0.00")
			}



		});




	});


	function isInt(value) {

		var er = /^-?[0-9]+$/;
		return er.test(value);
	}

	function callInterestAPI(courtType, feeType, feeCapital, feeOption) {

		var endpoint = window.location.protocol + "//" + window.location.hostname + "/courtfees/" + courtType + "/" + feeType + "/" + feeCapital

		//console.log(endpoint)
		$.get(endpoint, function (result) {

			//Render space & result data
			var feePrice = result.feePrice.toLocaleString() + ".00"
			var total = (result.feePrice + feeOption).toLocaleString() + ".00"

			if(result.feePrice >= 1000){

				$("#result1").html(feePrice)
				$("#result2").html("ไม่คิดค่าธรรมเนียม")
				$("#total").html("1,000.00")
			}else{

				$("#result1").html(feePrice)
				$("#result2").html("100.00")
				$("#total").html(total)
			}
			//alert(lengthFeePrice)
		});

	}
	function callAPI(courtType, feeType, feeCapital, feeOption) {

		var endpoint = window.location.protocol + "//" + window.location.hostname + "/courtfees/" + courtType + "/" + feeType + "/" + feeCapital

		//console.log(endpoint)
		$.get(endpoint, function (result) {

			//Render space & result data
			var feePrice = result.feePrice.toLocaleString() + ".00"
			var total = (result.feePrice + feeOption).toLocaleString() + ".00"
			$("#result1").html(feePrice)
			$("#total").html(total)
			//alert(lengthFeePrice)
		});

	}


	function validateForm() {

		var z = document.forms["myForm"]["num"].value;

		if (!/^[0-9]+$/.test(z)) {
			alert("Please only enter numeric characters only for your Age! (Allowed input:0-9)")
		}

	}

</script>


<!-- Footer -->
<% include ./footer %>