<!-- Header -->
<% include ./header %>

<!-- Latest Sermon -->
<div class="latest" style="padding-top:120px">
	<div class="container-fluid" style="padding-top: 20px; padding-bottom:20px;">
		<div class="row">
			<div class="col-lg-12">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>หมายเหตุ!</strong> *ค่าใช้จ่ายที่ท่านจะได้รับทราบเป็นค่าใช้จ่ายโดยประมาณเท่านั้น
					ไม่สามารถใช้อ้างอิงในการใช้บริการจริงได้
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header text-white bg-primary">
						<h4>คำนวนค่าธรรมเนียมศาล</h4>
					</div>
					<div class="card-body border-primary">
						<div class="row">
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-12">
										<label for="court_type">ประเภทศาล :</label>
										<select multiple size="3" class="form-control" id="court_type" name="sellist2">
											<option value="provincialcourt" selected>คดีศาลจังหวัด</option>
											<option value="kwaengcourt">คดีศาลแขวง</option>
										</select>
									</div>
									<div class="col-lg-12">
										<label for="fees_type">ประเภทค่าขึ้นศาล :</label>
										<select multiple size="6" class="form-control" id="fees_type" name="sellist2">
											<option value="havecapital" selected>คำร้องทั่วไป(คิดเป็นราคาเงินได้)</option>
											<option value="mortgage">บังคับจำนอง</option>
											<option value="noncapital">คดีทั่วไปรวมทั้งไม่มีข้อพิพาท(คิดเป็นราคาเงินไม่ได้)</option>
											<option value="appeal_or_supreme">อุทธรณ์หรือฎีกา (ตามมาตรา 277 หรือ มาตรา 228(2) และ (3))</option>
											<option value="non_and_havecapital">ขอให้ปลดเปลื้องทุกข์(คิดเป็นราคาเงินได้และไม่ได้)</option>
											<option value="compensation">ขอให้ชำระค่าเสียหาย</option>
										</select>
									</div>
								</div>
								<br>
								<div class="form-group">
									<label for="exampleFormControlInput1">จำนวนทุนทรัพย์ : </label>
									<input class="form-control" id="feeCapital" placeholder="" value="0">
								</div>
								<br>
								<div class="form-group">
									<button id="calculate" type="button" class="btn btn-success">คำนวนค่าธรรมเนียม</button>
								</div>
								<br>
								<p><span style="color:red">หมายเหตุ</span> *ค่าใช้จ่ายที่ท่านจะได้รับทราบเป็นค่าใช้จ่ายโดยประมาณเท่านั้น
									ไม่สามารถใช้อ้างอิงในการใช้บริการจริงได้</p>


							</div>


							<div class="col-lg-6">
								<% include ./bill_template %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="./js/space_line.js"></script>
<script>
	$(document).ready(function () {

		//Disable input  data
		$("#fees_type").change(function () {
			if($(this).val() == "noncapital" || $(this).val() == "appeal_or_supreme" ||  $(this).val() == "compensation"){
				$("#feeCapital").val("0")
				$("#feeCapital").attr("disabled", true);
			}else{
				$("#feeCapital").attr("disabled", false);
			}
		});


		$("#calculate").click(function () {
			var feeCapital = $("#feeCapital").val();
			var sendData = { feeCapital: feeCapital }
			var endpoint = "https://61.19.239/courtfees/" + $("#court_type option:selected").val() + "/" + $("#fees_type option:selected").val() + "/" + feeCapital

			console.log(endpoint)
			$.get(endpoint, function (result) {

				console.log(result)
				//Render space & result data
				var feePrice = result.feePrice.toLocaleString() + ".00"
				var lengthFeePrice = feePrice.length
				//alert(lengthFeePrice)
				var spaceText = calculateSpace(lengthFeePrice)
				//$("#result").html(loopSpace(spaceText) + feePrice)
				$("#result").html(feePrice)
				//alert(lengthFeePrice)
			});

		});


	});
</script>


<!-- Footer -->
<% include ./footer %>