<!-- Header -->
<% include ./header %>

<!-- Latest Sermon -->
<div class="latest" style="padding-top:100px">
	<div class="container" style="padding-top: 20px; padding-bottom:20px;">
		<div class="row">
			<div class="col-lg-12">
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>หมายเหตุ!</strong> *ค่าใช้จ่ายที่ท่านจะได้รับทราบเป็นค่าใช้จ่ายโดยประมาณเท่านั้น
					ไม่สามารถใช้อ้างอิงในการใช้บริการจริงได้
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header text-white bg-primary">
						<h4>คำนวณค่าธรรมเนียมศาล</h4>
					</div>
					<div class="card-body border-primary">
						<div class="row">
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-12">
										<label for="court_type">ประเภทศาล :</label>
										<select size="3" class="form-control" id="court_type" name="sellist2">
											<option value="provincialcourt" selected>คดีศาลจังหวัด</option>
											<option value="kwaengcourt">คดีศาลแขวง</option>
										</select>
									</div>
									<div class="col-lg-12">
										<label for="fees_type">ประเภทค่าขึ้นศาล :</label>
										<select size="7" class="form-control" id="fees_type" name="sellist2">
											<option value="havecapital" selected>คำฟ้องมีทุนทรัพย์</option>
											<option value="havecapital_compensation" selected>คำฟ้องมีทุนทรัพย์ และมีการขอให้ชำระค่าเสียหายพร้อมดอกเบี้ย</option>
											<option value="mortgage">คำฟ้องขอให้บังคับจำนอง</option>
											<option value="noncapital">คดีไม่มีทุนทรัพย์และคำร้องฝ่ายเดียว</option>
											<option value="appeal_or_supreme">อุทธรณ์หรือฎีกาคำสั่งตามมาตรา ๒๒๗ หรือ มาตรา ๒๒๘(๒) และ (๓) <br>แห่ง
												ป.วิ.พ.</option>
											<option value="non_and_havecapital">คดีมีทุนทรัพย์ที่มีคำขออื่นด้วย</option>
											<option value="non_and_havecapital_compensation">คดีมีทุนทรัพย์ที่มีคำขออื่นด้วย
												และมีการขอให้ชำระค่าเสียหายพร้อมดอกเบี้ย</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<label for="exampleFormControlInput1">จำนวนทุนทรัพย์ : </label>
											<input class="form-control" id="feeCapital" placeholder="" value="0">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<div class="form-group">
											<button id="calculate" type="button" class="btn btn-success" class="btn btn-primary" data-toggle="modal"
											 data-target="#myModal">คำนวนค่าธรรมเนียม</button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<p><span style="color:red">หมายเหตุ</span> *ค่าใช้จ่ายที่ท่านจะได้รับทราบเป็นค่าใช้จ่ายโดยประมาณเท่านั้น
											ไม่สามารถใช้อ้างอิงในการใช้บริการจริงได้</p>
									</div>
								</div>

								<div class="row">

									<!-- The Modal -->
									<div class="modal fade" id="myModal">
										<div class="modal-dialog">
											<div class="modal-content">

												<!-- Modal Header -->
												<div class="modal-header">
													<h4 class="modal-title">ผลการคำนวณค่าขึ้นศาล</h4>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>

												<!-- Modal body -->
												<div class="modal-body" style="font-size:20px">
													<div class="row">
														<div class="col-5">ค่าขึ้นศาล :</div>
														<div class="col-7"><span id="result1"></span> บาท</div>
														<div class="col-5">ค่าขึ้นศาลอนาคต : </div>
														<div class="col-7"><span id="result2"></span> บาท</div>
														<div class="col-5"><b>รวมเป็นจำนวนเงิน : </div>
														<div class="col-7"><span id="total" style="color:blue"></span> บาท</b></div>
													</div>
												</div>

												<!-- Modal footer -->
												<div class="modal-footer">
													<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
												</div>

											</div>
										</div>
									</div>




								</div>
							</div>


							<div class="col-lg-6">
								<a href="#" data-toggle="modal" data-target="#info">
									<img src="./images/fees/fees1.jpg" style='height: 100%; width: 100%; object-fit: contain;'>
								</a>

								<!-- Modal -->
								<div class="modal fade" id="info" role="dialog">
									<div class="modal-dialog">

										<!-- Modal content-->
										<div class="modal-content custom-width-modal">

											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>
											<div class="modal-body">
												<div class="row">
													<div class="col-md-12">
														<img src="./images/fees/fees1.jpg">
													</div>
												</div>
											</div>
										</div>

									</div>
								</div>
								<!-- End Modal -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script src="./js/space_line.js"></script>
<script>
	$(document).ready(function () {

		//Disable input  data
		$("#fees_type").change(function () {
			if ($(this).val() == "noncapital" || $(this).val() == "appeal_or_supreme" || $(this).val() == "compensation") {
				$("#feeCapital").val("0")
				$("#feeCapital").attr("disabled", true);
			} else {
				$("#feeCapital").attr("disabled", false);
			}
		});


		$("#calculate").click(function () {

			var courtType = $("#court_type option:selected").val()
			var feeCapital = $("#feeCapital").val();
			var feeType = $("#fees_type option:selected").val()

			if (courtType == "kwaengcourt" && feeCapital > 300000) {
				alert("คดีทุนทรัพย์มากกว่า 300,000 บาท ไม่สามารถฟ้องในศาลแขวงได้\nกรุณาเลือกประเภทศาล : คดีศาลจังหวัด")
				$("#feeCapital").focus()
				$("#feeCapital").select()
				$("#feeCapital").css("border-color", "red")
				$("#court_type").css("border-color", "red")
				return
			} else {
				$("#feeCapital").css("border-color", "#ced4da")
				$("#court_type").css("border-color", "#ced4da")
			}
			//alert(feeType)
			if (feeType == "havecapital_compensation") {
				callAPI(courtType, "havecapital", feeCapital, 100.00)
				$("#result2").html("100.00")

			} else if (feeType == "non_and_havecapital_compensation") {
				callAPI(courtType, "non_and_havecapital", feeCapital, 100.00)
				$("#result2").html("100.00")
			} else {
				callAPI(courtType, feeType, feeCapital, 0.00)
				$("#result2").html("0.00")
			}

		});


	});


	function callAPI(courtType, feeType, feeCapital, feeOption) {

		var endpoint = window.location.protocol + "//" + window.location.hostname + "/courtfees/" + courtType + "/" + feeType + "/" + feeCapital

		//console.log(endpoint)
		$.get(endpoint, function (result) {

			//Render space & result data
			var feePrice = result.feePrice.toLocaleString() + ".00"
			var total = (result.feePrice + feeOption).toLocaleString() + ".00"
			$("#result1").html(feePrice)
			$("#total").html(total)
			//alert(lengthFeePrice)
		});

	}
</script>


<!-- Footer -->
<% include ./footer %>