
	<!-- Footer -->

	<footer class="footer">
		<div class="footer_background parallax-window" data-parallax="scroll" data-image-src="images/footer.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">

				<!-- Footer - Contact -->
				<div class="col-lg-4 footer_col">
					<div class="footer_column footer_contact_column">
						<div class="footer_logo_container">
							<a href="#">
								<div class="footer_logo"><img src="images/logo_2.png" alt=""></div>
								<div class="footer_logo_text">COJ FEES</div> 
							</a>
						</div>
						<div class="footer_contact">
							<ul>
								<li><div><i class="fa fa-map-marker" aria-hidden="true"></i></div><span>อาคารศาลอาญา ถนนรัชดาภิเษก แขวงจอมพล เขตจตุจักร กรุงเทพฯ 10900</span></li>
								<li><div><i class="fa fa-phone" aria-hidden="true"></i></div><span>โทร : 02-512-8456</span></li>
								<li><div><i class="fa fa-envelope" aria-hidden="true"></i></div><span>gad@coj.go.th</span></li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Footer - Links -->
				<div class="col-lg-8 footer_col">
					<div class="footer_column footer_links">
						<div class="footer_title">useful links</div>
						<ul class="footer_links_list">
							<li><a href="https://fees.coj.go.th/"><i class="fa fa-angle-double-right" aria-hidden="true"></i>หน้าแรก</a></li>
							<li><a href="https://www.coj.go.th"><i class="fa fa-angle-double-right" aria-hidden="true"></i>เกี่ยวกับเรา</a></li>
							<li><a href="https://www.coj.go.th/home/contact.html"><i class="fa fa-angle-double-right" aria-hidden="true"></i>ติดต่อเรา</a></li>
							<li><a href="https://fees.coj.go.th/courtfees"><i class="fa fa-angle-double-right" aria-hidden="true"></i>คำนวณค่าขึ้นศาล</a></li>
							<li><a href="https://fees.coj.go.th/arbitration"><i class="fa fa-angle-double-right" aria-hidden="true"></i>คำนวณค่าป่วยการ</a></li>
							<li><a href="https://fees.coj.go.th/arbitration"><i class="fa fa-angle-double-right" aria-hidden="true"></i>คู่มือการใช้งาน</a></li>
							
							<li><i class="fa fa-angle-double-right" aria-hidden="true"></i><span style="color:white"> Last Update : 08-10-2561 version 1.0.0</span></li>
						</ul>
					</div>
				</div>

				<!-- Footer - Subscribe
				<div class="col-lg-4 footer_col">
					<div class="footer_column footer_subscribe">
						<div class="footer_title">subscribe</div>
						<div class="footer_text">Join our weekly email newsletter to receive news, events and other announcements about what is going on at our church.</div>
						<div class="footer_form_container">
							<form action="#" class="footer_form">
								<div>
									<input type="email" class="subscribe_input" placeholder="Enter your email" required="required">
									<button class="subscribe_button trans_200" type="submit">subscribe</button>
								</div>
							</form>
						</div>
					</div>
					<br>
				</div> -->

			</div>
		</div>
	</footer>
</div>

<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>