<!-- Header -->
<% include ./header %>

	<!-- Latest Sermon -->
	<div class="latest" style="padding-top:150px">
		<div class="container card">
			<div class="row">
				<div class="col-lg-2">
					aaaaaa
				</div>
				<div class="col-lg-10">
					aaaaaa
				</div>
			</div>
		</div>
	</div>


	<!-- Footer -->
	<% include ./footer %>