<!-- Header -->
<% include ./header %>
<% active %>
<!-- Latest Sermon -->
<div class="latest" style="padding-top:150px">
	<div class="container card">
		<div class="row">
			<div class="col-lg-6">
					<img src="./images/fees/fees2.jpg" style='height: 100%; width: 100%; object-fit: contain;'>
					<button class="btn btn-info">คำนวณค่าขึ้นศาล</button>
			</div>
			<div class="col-lg-6">
				<img src="./images/fees/tai1.png" style='height: 100%; width: 100%; object-fit: contain;'>
				<button class="btn btn-info">คำนวณค่าป่วยการ</button>
			</div>
		</div>
	</div>
</div>


<!-- Footer -->
<% include ./footer %>