<!-- Header -->
<% include ./header %>

<!-- Latest Sermon -->
<div class="latest" style="padding-top:150px">
	<div class="container card">
		<div class="row">
			<div class="col-lg-6">
				<b>ค่าใช้จ่ายในการดำเนินคดีแพ่ง</b><br>

				1. ค่าขึ้นศาล<br>

				คดีที่มีทุนทรัพย์ ได้แก่ คดีที่โจทก์เรียกร้องโดยมีคำขอปลดเปลื้องทุกข์อันอาจคำนวณเป็นราคาเงินได้<br>
				โดยจำนวนเงินหรือราคาทรัพย์ที่เรียกร้องนั้นถือเป็นทุนทรัพย์<br>

				1. ค่าขึ้นศาลในคดีที่มีทุนทรัพย์โจทก์ต้องเสียอัตราร้อยละ 2 ของจำนวนทุนทรัพย์ แต่ไม่เกิน 200,000 บาท ซึ่งทุนทรัพย์<br>
				10 ล้านบาท<br>

				1. สำหรับทุนทรัพย์พิพาทเกิน 50 ล้านบาท ส่วนที่เกินเสียอัตราร้อยละ 0.1<br>

				1. สำหรับคดีมโนสาเร่ ทุนทรัพย์พิพาทไม่เกิน 300,000 บาท เสียค่าธรรมเนียมร้อยละ 2 แต่ไม่เกิน 1,000 บาท<br>
				อยู่เขตอำนาจศาลแขวง<br>



				คดีไม่มีทุนทรัพย์ คือ คดีที่โจทก์มีคำขอปลดเปลื้องทุกข์อันไม่อาจคำนวณเป็นราคาเงินได้<br>
				โดยสำหรับค่าขึ้นศาลในคดีไม่มีทุนทรัพย์โจทก์ต้องเสียเรื่องละ 200 บาท<br>

				1. ในกรณีเป็นคดีมีทุนทรัพย์กับไม่มีทุนทรัพย์รวมอยู่ในคดีเดียวกันให้คิดค่าขึ้นศาลในอัตราร้อยละ 2<br>
				ของจำนวนทุนทรัพย์ที่เรียกร้องโดยเป็นเงินอย่างต่ำ 200 บาท แต่ไม่เกิน 200,000 บาท<br>

				2. คำฟ้องขอให้ศาลบังคับตามคำชี้ขาดของอนุญาโตตุลาการ คิดค่าขึ้นศาลอัตราร้อยละ 1<br>
				ตามจำนวนทุนทรัพย์ที่อนุญาโตตุลาการกำหนดไว้ในคำชี้ขาดแต่ไม่เกิน 100,000 บาท<br>

				3. คำฟ้องขอให้บังคับจำนองหรือบังคับเอาทรัพย์สินจำนองหลุด คิดค่าขึ้นศาลตามจำนวนหนี้ที่เรียกร้องในอัตราร้อยละ 1<br>
				แต่ไม่เกิน 100, 000 บาท<br>

				4. อุทธรณ์หรือฎีกาคำสั่งศาล ตามประมวลกฎหมายวิธีพิจารณาความแพ่ง มาตรา 227 หรือ 228 เสียค่าขึ้นศาลเรื่องละ 200 บาท<br>

				5. ค่าขึ้นศาลในอนาคต เกี่ยวกับค่าเช่า ดอกเบี้ย ค่าเสียหาย เป็นต้น 100 บาท<br>



				<b>วิธีการชำระ</b><br>

				เงินสด หรือ แคชเชียร์เช็ค<br>



				<b>ค่าขึ้นศาลเพิ่มขึ้น</b><br>

				ตามปกติศาลจะคำนวณค่าขึ้นศาลเมื่อ โจทก์ยื่นฟ้อง<br>
				แต่ถ้าต่อมามีการแก้ไขคำฟ้องหรือมีเหตุประการอื่นอันทำให้จำนวนทุนทรัพย์<br>
				เพิ่มขึ้นโจทก์ต้องเสียค่าขึ้นศาลเพิ่มขึ้นตามจำนวนทุนทรัพย์ที่เพิ่มนั้น<br>
			</div>
			<div class="col-lg-6">
				<b>อนุญาโตตุลาการ</b><br>
				กระบวนการอนุญาโตตุลาการ คือ การระงับข้อพิพาทโดยไม่ได้ให้ศาลเป็นผู้ตัดสิน แต่คู่กรณีจะเป็นผู้เลือกผู้ตัดสิน<br>
				(อนุญาโตตุลาการ) มาชี้ขาดข้อพิพาท และคู่กรณีตกลงที่จะปฏิบัติตามคำชี้ขาดนั้น<br>

				<b>เนื่องจากกระบวนการอนุญาโตตุลาการไม่มีขั้นตอนที่ยุ่งยาก</b><br>
				ประกอบกับคู่กรณีสามารถเลือกบุคคลที่จะทำหน้าที่เป็นอนุญาโตตุลาการจากผู้ที่มีความรู้ความเชี่ยวชาญในเรื่องที่พิพาท<br>
				ซึ่งส่งผลให้การระงับข้อพิพาทดำเนินไปด้วยความรวดเร็วและประหยัดค่าใช้จ่าย สำนักงาน <br>
				จึงจัดให้มีกระบวนการอนุญาโตตุลาการดังกล่าวเพื่อเป็นทางเลือกในการระงับข้อพิพาทระหว่าง ผู้ลงทุน กับ ผู้ประกอบธุรกิจ<br>
				โดยสำนักงาน <br>
				ได้จัดโครงการมอบตราสัญลักษณ์ให้แก่ผู้ประกอบธุรกิจที่สมัครใจระงับข้อพิพาทด้วยวิธีอนุญาโตตุลาการกับผู้ลงทุน<br>
				รายชื่อบริษัทที่เข้าร่วมโครงการมอบตราสัญลักษณ์อนุญาโตตุลาการ<br>
			</div>
		</div>
	</div>
</div>


<!-- Footer -->
<% include ./footer %>