<!-- Header -->
<% include ./header %>

<style>
	.modal {
      text-align: center;
      padding: 0!important;
    }

    .modal:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
    }

    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
	  max-width:590px !important;
    }

</style>
<% active %>

<!-- Latest Sermon -->
<div class="latest" style="padding-top:120px">
	<div class="container card">
		<div class="row">
			<div class="col-sm-12 col-lg-6" style="padding: 20px">
				<div class="row">
					<a href="./courtfees"><img src="./images/fees/fees2.png" style='height: 100%; width: 100%; object-fit: contain;'></a>
				</div>
				<div class="row d-flex justify-content-center" style="padding-top: 10px">
					<button class="btn btn-info" onclick="window.location.href='/courtfees'">คำนวณค่าขึ้นศาล</button>
				</div>
			</div>
			<div class="col-sm-12 col-lg-6" style="padding: 20px">

				<div class="row">
					<a href='https://www.youtube.com/watch?v=WCCodpRM4g4&t=' target="_blank" data-toggle="modal" data-target="#info">
						<div style="position:absolute; width:270px; height:100px; top:50px; left:140px; "></div>
					</a>
					<a href="./arbitration"><img src="./images/fees/tai2.png" style='height: 100%; width: 100%; object-fit: contain;'></a>

				</div>
				<div class="row d-flex justify-content-center" style="padding-top: 10px">
					<button class="btn btn-info" onclick="window.location.href='/arbitration'">คำนวณค่าป่วยการ</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="info" role="dialog">
	<div class="modal-dialog" style="width:700px">

		<!-- Modal content-->
		<div class="modal-content">

			<div class="modal-header">
				<h4>การอนุญาโตตุลาการคืออะไร ? (Thai Arbitration Institute)</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/WCCodpRM4g4" frameborder="0" allow="autoplay; encrypted-media"
						 allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- End Modal -->


<!-- Footer -->
<% include ./footer %>