<!-- Header -->
<% include ./header %>
<% active %>
<!-- Latest Sermon -->
<div class="latest" style="padding-top:120px">
	<div class="container card">
		<div class="row">
			<div class="col-sm-12 col-lg-6" style="padding: 20px">
				<div class="row">
					<a href="./courtfees"><img src="./images/fees/fees2.jpg" style='height: 100%; width: 100%; object-fit: contain;'></a>
				</div>
				<div class="row d-flex justify-content-center" style="padding-top: 10px">
					<button class="btn btn-info" onclick="window.location.href='/courtfees'">คำนวณค่าขึ้นศาล</button>
				</div>
			</div>
			<div class="col-sm-12 col-lg-6"  style="padding: 20px">

				<div class="row">
					<a href="./arbitration"><img src="./images/fees/tai2.png" style='height: 106%; width: 100%; object-fit: contain;'></a>

				</div>
				<div class="row d-flex justify-content-center" style="padding-top: 30px">
					<button class="btn btn-info" onclick="window.location.href='/arbitration'">คำนวณค่าป่วยการ</button>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- Footer -->
<% include ./footer %>