<!-- Header -->
<% include ./header %>


<!-- Latest Sermon -->
<div class="latest" style="padding-top:100px">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div id="output"  style="height:800px !important"></div>
			</div>
		</div>
	</div>
</div>


<script src="./js/pdfobject.min.js"></script>

<script>
	var filePath = './doc/คู่มือโปรแกรมคำนวณค่าขึ้นศาล.pdf'
	PDFObject.embed(filePath, "#output");
</script>




<!-- Footer -->
<% include ./footer %>